@model WebStatisticSales.Models.SaleCreateView

<div class="modal fade" id="saveSaleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="saveForm">
                    @Html.ValidationSummary(false)

                    <div class="form-group">
                        @Html.LabelFor(m => m.SellerId)
                        @Html.DropDownListFor(m => m.SellerId, ViewBag.Sellers as SelectList, new { @class = "form-control", @name = "Sellers" })
                        @Html.ValidationMessageFor(model => model.SellerId)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ClientId)
                        @Html.DropDownListFor(m => m.ClientId, ViewBag.Clients as SelectList, new { @class = "form-control", @name = "Clients" })
                        @Html.ValidationMessageFor(model => model.ClientId)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ProductId)
                        @Html.DropDownListFor(m => m.ProductId, ViewBag.Products as SelectList, new { @class = "form-control", @name = "Products" })
                        @Html.ValidationMessageFor(model => model.ProductId)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Cost)
                        @Html.TextBoxFor(m => m.Cost, new { @class = "form-control", @name = "Cost" })
                        @Html.ValidationMessageFor(model => model.Cost)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Date)
                        @Html.TextBoxFor(m => m.Date, new { @class = "form-control", @name = "Date" })
                        @Html.ValidationMessageFor(model => model.Date)
                    </div>

                    <input id="saveBtn" type="submit" class="btn btn-success" value="Добавить" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> 

<script>

    $("#saveSaleModal").ready(() => {
        $("#saveSaleModal").modal();
    });

    function savePurchase() {
        $("#saveForm").on("submit", (event) => {
            event.preventDefault();
            $.post('@Url.Action("Create", "Sales")',
                $("#saveForm").serialize(),
                (data, textStatus, jHXR) => {
                    loadData();
                    $("#saveSaleModal").modal('hide');
                }
            )
        });
    }

    $("#saveBtn").click(savePurchase);
</script>