@model WebStatisticSales.Models.SaleEditView
@Scripts.Render("~/bundles/jqueryval")

<div class="modal fade" id="editDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Детали продажи</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="editOrDetail">
                    <label class="custom-control-label" for="editOrDetail">Edit</label>
                </div>
                <form id="editForm">
                    <label class="serverError"></label>

                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(m => m.Id)

                    <div class="form-group">
                        @Html.LabelFor(m => m.SellerId)
                        @Html.DropDownListFor(m => m.SellerId, ViewBag.Sellers as SelectList, new { @class = "form-control", @name = "Sellers" })
                        @Html.ValidationMessageFor(model => model.SellerId)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ClientId)
                        @Html.DropDownListFor(m => m.ClientId, ViewBag.Clients as SelectList, new { @class = "form-control", @name = "Clients" })
                        @Html.ValidationMessageFor(model => model.ClientId)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ProductId)
                        @Html.DropDownListFor(m => m.ProductId, ViewBag.Products as SelectList, new { @class = "form-control", @name = "Products" })
                        @Html.ValidationMessageFor(model => model.ProductId)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Cost)
                        @Html.TextBoxFor(m => m.Cost, new { @class = "form-control", @name = "Cost" })
                        @Html.ValidationMessageFor(model => model.Cost)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Date)
                        @Html.TextBoxFor(m => m.Date, new { @class = "form-control", @name = "Date" })
                        @Html.ValidationMessageFor(model => model.Date)
                    </div>

                    <input id="updateBtn" type="submit" class="btn btn-success" value="Обновить" />
                    <input id="deleteBtn" type="button" class="btn btn-danger" value="Удалить" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script>
    /*
         TODO: Fixt UI bags;
    */
    $("#editDetailModal").ready(() => {
        $("#editDetailModal").modal();
        $("#editForm :input").prop("disabled", true);
    });

    function edit() {
        $("#editForm").on("submit", function (e) {
            e.preventDefault();
            if ($("#editOrDetail").is(":checked")) {
                $.post('@Url.Action("Edit", "Sales")',
                    $("#editForm").serialize(),
                    function (data, textStatus, jHXR) {
                        if (data.result == true) {
                            $("#editDetailModal").modal('hide');
                            loadData();
                        }
                        else {
                            $(".serverError").text(data.message);
                        }
                    }
                );
            }
        });
    }

    $("#updateBtn").click(edit);

    $("#editOrDetail").click(() => {
        $("#editForm :input").prop("disabled", function (i, v) { return !v; });
    });

    $("#deleteBtn").click((event) => {
       event.preventDefault();
        var result = confirm("Вы действительно хотите удалить продажу?");
        if (result == true) {
            $.get('@Url.Action("Delete", "Sales")/' + @Model.Id,
                () => {
                    $("#editDetailModal").modal('hide');
                    loadData();
                }
            );
        }
    });

</script>