@model WebStatisticSales.Models.SaleView
@{
    ViewBag.Title = "SalesIndex";
}

<h2>Продажи</h2>

<div id="loader">
    <h2>Идет загрузка данных...</h2>
    <div class="load_spinner"></div>
</div>

<div id="filter_container" class="col-sm-9"></div>

<button id="openCreateFormBtn" class="btn btn-primary">Добавить продажу</button>
<div id="sales"></div>
<div id="dialog_window"></div>

@section scripts {
<script>

    /*
        TODO: move editSale in Edit.cshtml file, -> function edit(id, idElemForLoad)
    */

    $(document).ready(() => {
        loadData(1);
    });

    $("#openCreateFormBtn").click(() => {
        $("#dialog_window").load('@Url.Action("Create", "Sales")');
    });

    function editSale(id) {
        $("#dialog_window").load('@Url.Action("Edit", "Sales")/' + id);
    }

    function loadData(page) {
        $("#loader").css('display', "display");
        $("#sales").load('@Url.Action("Load", "Sales")/' + page,
            function () {
                $("#loader").css('display', "none");
            }
        );
//      $("#filter_container").load('@Url.Action("Load", "Sales")');
    }

    function editSale(id) {
        $("#dialog_window").load('@Url.Action("Edit", "Sales")/' + id);
    }

    </script>
}