@model IEnumerable<WebStatisticSales.Models.SaleView>

<style>
    tr:hover {
        background-color: #353f51;
        color: white;
    }

    #filtersBtn {
        margin: 10px;
    }

    thead {
        background-color: #353f51;
        color: white;
    }
    
    #filter_form {
        border: 1px solid gray;
        padding: 15px;
    }
</style>

<div class="container">
    <button class="btn btn-secondary" type="button" id="filtersBtn">Filters</button>
    <div class="col-sm-9">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Клиент</th>
                    <th scope="col">Продукт</th>
                    <th scope="col">Продавец</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Дата</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var sale in Model)
                {
                    <tr onclick="editSale(@sale.Id)">
                        <td>@sale.ClientName</td>
                        <td>@sale.Product</td>
                        <td>@sale.Seller</td>
                        <td>@sale.Cost</td>
                        <td>@Html.DisplayFor(m => sale.Data)</td>
                    </tr>
                }
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
