@model PagedList.IPagedList<WebStatisticSales.Models.SaleView>
@using PagedList.Mvc

<style>
    tr:hover {
        background-color: #353f51;
        color: white;
    }

    thead {
        background-color: #353f51;
        color: white;
    }
</style>

<div class="col-sm-9">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Покупатель</th>
                <th scope="col">Продукт</th>
                <th scope="col">Продавец</th>
                <th scope="col">Цена</th>
                <th scope="col">Дата</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sale in Model)
            {
                <tr onclick="editSale(@sale.Id)">
                    <td>@sale.Client</td>
                    <td>@sale.Product</td>
                    <td>@sale.Seller</td>
                    <td>@sale.Cost</td>
                    <td>@Html.DisplayFor(m => sale.Date)</td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(
                        Model, page => Url.Action("Load", "Sales", new { filter = ViewBag.Filter, page = page }),
                        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "sales" }))
    </nav>
</div>
